:root { 
--white_A700_d3:#ffffffd3; 
--deep_orange_50_fc:#f2dfdffc; 
--blue_gray_100_01:#d9d9d9; 
--red_200:#e39797; 
--gray_800_01:#393939; 
--black_900_3f:#0000003f; 
--gray_50:#fff9f9; 
--black_900:#000000; 
--red_A400:#ed174d; 
--blue_gray_700:#525252; 
--blue_gray_900_01:#363434; 
--blue_gray_900:#372e30; 
--white_A700_4c:#ffffff4c; 
--deep_orange_50_cc:#f2dfdfcc; 
--gray_700:#5f5b5b; 
--gray_500:#a8a8a8; 
--blue_gray_100:#cfcfcf; 
--gray_800:#534747; 
--gray_800_cc:#534747cc; 
--gray_200:#eeeeee; 
--gray_300:#e5e2e2; 
--gray_100:#f4f3f3; 
--white_A700_dd:#ffffffdd; 
--white_A700_00:#fffcfc00; 
--white_A700_01:#fffcfc; 
--black_900_ea:#000000ea; 
--white_A700_02:#fffcfc02; 
--white_A700:#ffffff; 
}