:root { 
--white_A700_4c:#ffffff4c; 
--gray_500:#a8a8a8; 
--blue_gray_100:#cfcfcf; 
--black_900:#000000; 
--red_A400:#ed174d; 
--blue_gray_700:#525252; 
--black_900_3f:#0000003f; 
--white_A700:#ffffff; 
--gray_100:#f4f3f3; 
}